# Binaries for programs and plugins
bin/
.idea/

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# goreleaser directory when generating a dry-run release locally
dist/
