name: CI
on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, synchronize, reopened]
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: make build

#  test:
#    name: Test
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: test
#        run: make test
